table{
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 400px;
    height: 150px;
}
th{
    border: 2px solid black;
}
td{
    border: 2px solid rgb(75, 73, 73);
}
.color{
    color:red;
}
